name: nginx
type: service
icon: nginx
title: Nginx
scalable: true
hostname: nginx

options:
- version: '1.29'
  tag: '1.29'
  default: true
- version: '1.28'
  tag: '1.28'
- version: '1.27'
  tag: '1.27'
  eol: '2025-06-24T00:00:00+00:00'  
- version: '1.25'
  tag: '1.25'
  eol: '2024-05-29T00:00:00+00:00'

links:
- name: backend
  title: Backend
  required: false
  env:
  - name: NGINX_BACKEND_HOST
    value: '{{link.host}}'
  - name: NGINX_BACKEND_PORT
    value: '{{link.port}}'
  selectors:
  - type: service

containers:
- name: nginx
  image: wodby/nginx

endpoints:
- name: http
  ports:
  - name: http
    number: 80
    type: http
    main: true

labels:
- nginx

build:
  connect: true
  templates:
  - name: nextjs
    title: Next.js
    repo: https://github.com/wodby/nextjs
    branch: main

settings:
- name: docroot
  title: Nginx docroot subdir
  var: DOCROOT_SUBDIR

configs:
- name: main
  title: Main
  filepath: /etc/gotpl/config/nginx.conf.tmpl
  config: nginx.conf.tmpl
- name: vhost
  title: Virtual host
  filepath: /etc/gotpl/vhost.conf.tmpl
  config: vhost.conf.tmpl

env:
- name: NGINX_SERVER_ROOT
  value: /var/www/html/$(DOCROOT_SUBDIR)

helm:
  name: wodby
  source: oci://registry-1.docker.io/wodby/nginx
  chart: oci://registry-1.docker.io/wodby/nginx
  version: 0.2.0
  configurations:
  - name: nginx
    labels: commonLabels
    annotations: commonAnnotations
    env: extraEnvVars
    resources: resources
    volumes: extraVolumes
    mounts: extraVolumeMounts
